body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

img {
  width: 100vw;
  height: auto;
  display: block;
}

.text1 {
  font-size: 5vw;
  margin: 20px 0;
  width: 200%;
  animation: movetext1 10s linear infinite;
}
.logo {
  width: 100%;
  overflow: hidden;
}
.logo img {
  animation: logo 1s steps(1) infinite;
  width: 200%;
}

.sound {
  font-size: 5vw;
  margin-top: 50px;
  width: 200%;
  animation: movesound1 10s linear infinite;
}
